/* resume.css */

body {
    background-color: oldlace;
    font-family: 'Shippori Mincho', serif;
}
body {
    width: 800px;
    border: 8px solid black;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 300px;
    margin-left: 300px;
}
h1 {
    color: black;
    margin-left: 270px;
    margin-right: 0px;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
p0{
    font-weight: bold;
}
p1{
    font-weight: bold;
}
p2{
    font-weight: normal;
}
p3{
    font-weight: normal;
}
p4{
    font-weight: normal;
}
h2{
    font-size: medium;
    font-weight:bold;
}
h3 {
    font-size: medium;
    font-weight: bold;
}
h4 {
    font-size: large;
    text-decoration: underline;
    text-align: center;
    font-weight: normal; 
}
p4{
 font-weight: bold;
}
p5{
    font-style: italic;
}
p6{
    font-size: small;
    font-weight: bold;
}
p7 {
    font-weight: bold;
}

p8 {
    font-style: italic;
}
h5 {
    font-size: large;
    text-decoration: underline;
    text-align: center;
    font-weight: normal;
}
p9 {
    font-weight: bold;
}
p10 {
    font-style: italic;
}
p11 {
    font-weight: bold;
}

p12 {
    font-style: italic;
}
p13 {
    font-weight: bold;
}

p14 {
    font-style: italic;
}
p15 {
    font-weight: bold;
}

p16 {
    font-style: italic;
}