/* resume.css */

body {
    background-color: oldlace;
    
}
body {
    width: 52vw;
    border: .52vw solid black;
    padding: 3.25vw;
    margin-top: 1.95vw;
    margin-bottom: 1.95vw;
    margin-right: 19.53vw;
    margin-left: 19.53vw;
}
#image {
    display: block;
    margin-left: 39vw;
    margin-right: 0px;
    padding: 0.33vw;
}
p {
    font-weight: normal;
}
h1 {
    text-align: center;
}
h2 {
    font-size: large;
    text-decoration: underline;
    text-align: center;
    font-weight: normal;
}
h3 {
    font-size: medium;
    font-weight: bold;
}
h4 {
    font-weight: bold;
}
h5{
    font-style: italic;
}
h6{
    font-size: small;
    font-weight: bold;
}
{
    box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

   
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
    }

        
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

   
    .form-container .btn {
        background-color: #4CAF50;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        opacity: 0.8;
    }

    
    .form-container .cancel {
        background-color: red;
    }

    
    .form-container .btn:hover, .open-button:hover {
        opacity: 1;
    }

